
/* Prevent text magnification on orientation change on Android.
 * Seems like that should be something the user chooses in chrome,
 * but chrome doesn't seem to offer that.
 */
body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
}

div#jupframe {
  background: black;
  color: white;
  position: relative;
  width: 99%;
  height: 100px;
}

/* All images and labels inside the jupframe are absolutely positioned */
#jupframe img, #jupframe span {
   position: absolute; visibility: hidden; z-index: 50
}

#jupframe span.moonlabel { color: white; top: .3em; }

#jupframe span.shadowlabel { color: yellow; top: 1.1em; }

#jupframe span.eclipselabel { color: blue; top: .3em; }

#jupframe span#grslabel { color: #aaa; font-size: .9em; bottom: .1em; }

#upcoming { background: #fffcf5; border: 1px inset; padding: 5px;  }

/* I can't find any way to style an input button by name --
 * it has to have an id as well as a name.
 */
input[type=button]#now { margin-left: 3em; }

/* Verbose text: want this on the web page but not on small devices or windows.
 * On my Galaxy S5, portrait mode has a width of about 48em, I think;
 * Landscape mode changes the font size (weird!) and is about 59.
 * Note: I see "handheld" mentioned on the web but android doesn't respect it.
 */
@media (max-width: 60em), (max-height: 40em) {
  .chatty { display: None }
}

/* The calendar */
#hidden-relative {
  position: relative; /* width: 0; height: 0;*/
}
#calendar-container {
  position: absolute; left: 0px; top: 0em;
  background: white;
  opacity: .8;
}
