div#jupframe {
  background: black;
  color: white;
  position: relative;
  width: 99%;
  height: 100px;
}

/* All images and labels inside the jupframe are absolutely positioned */
#jupframe img, #jupframe span {
   position: absolute; visibility: hidden; z-index: 50
}

#jupframe span.moonlabel { color: white; top: .3em; }

#jupframe span.shadowlabel { color: yellow; top: 1.1em; }

#jupframe span.eclipselabel { color: blue; top: .3em; }

#jupframe span#grslabel { color: #aaa; font-size: .9em; bottom: .1em; }

#upcoming { background: #fffcf5; border: 1px inset; padding: 5px;  }

/* I can't find any way to style an input button by name --
 * it has to have an id as well as a name.
 */
input[type=button]#now { margin-left: 3em; }

/* Verbose text: want this on the web page but not on small devices.
@media handheld, max-width: 500px, screen and max-height: 500px {
  .chatty { display: none; }
}
 */
@media media, screen and (max-width: 500px), screen and (max-height: 500px) {
  .chatty { display: none; }
}

